@import '@radix-ui/colors/black-alpha.css';
@import '@radix-ui/colors/green.css';
@import '@radix-ui/colors/mauve.css';
@import '@radix-ui/colors/violet.css';
@import '@radix-ui/colors/blue.css';
@import '@radix-ui/colors/red.css';
@import "presets.css";

/* reset */
/*button,
fieldset,
input {
  all: unset;
}*/

.Fieldset,
.Input {
  all: unset;
}

.DialogOverlay {
  background-color: var(--black-a9);
  position: fixed;
  inset: 0;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  z-index: 9999; /* Fix */
}

.DialogOverlay.Alert {
  z-index: 10000; /* Fix */
}

.DialogContent {
  background-color: white;
  border-radius: 6px;
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px, hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: var(--Dialogcontent-max-width);
  max-height: var(--DialogContent-height);
  padding: var(--DialogContent-padding-top) var(--DialogContent-padding-right) var(--DialogContent-padding-bottom)
    var(--DialogContent-padding-left);
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  z-index: 10000; /* Fix overlap */
}

.DialogOverlay.Alert .DialogContent {
  z-index: 10001; /* Fix overlap */
}

.DialogContent:focus {
  outline: none;
}

.DialogTitle {
  margin: 0;
  padding: var(--DialogTitle-padding);
  font-weight: 500;
  color: var(--mauve-12);
  font-size: var(--DialogTitle-font-size);
  /* Dealing with long titles */
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: calc(var(--Dialogcontent-max-width) - 50px);
  white-space: nowrap;
}

.DialogContentScroll {
  max-height: calc(
    var(--DialogContent-height) -
    var(--DialogContent-padding-top) -
    var(--DialogContent-padding-bottom) -
    var(--DialogTitle-padding) * 2 -
    var(--DialogTitle-font-size) -
    var(--ButtonGroup-margin-top) -
    var(--Button-height));
  overflow: scroll;
  padding-left: 10px;
  padding-right: 10px;
}

.DialogDescription {
  margin: 10px 0 20px;
  color: var(--mauve-11);
  font-size: 15px;
  line-height: 1.5;
}

.ButtonGroup {
  display: flex;
  margin-top: var(--ButtonGroup-margin-top);
  justify-content: flex-end;
}

.FieldsetTitle {
  width: 100%;
  text-align: center;
  font-size: 1.1em;
  margin: 10px 0;
}

.Fieldset .ButtonGroup {
  display: inline-flex;
  width: 100%;
  gap: 10px;
  flex: 1;
}

.DialogContent .Button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 15px;
  line-height: 1;
  font-weight: 500;
  height: var(--Button-height);
  box-shadow: none;
}
.Button.violet {
  background-color: white;
  color: var(--violet-11);
  box-shadow: 0 2px 10px var(--black-a7);
}
.Button.violet:hover {
  background-color: var(--mauve-3);
}
.Button.violet:focus {
  box-shadow: 0 0 0 2px black;
}

.Button.green {
  background-color: var(--green-4);
  color: var(--green-11);
}
.Button.green:hover {
  background-color: var(--green-5);
}
.Button.green:focus {
  box-shadow: 0 0 0 2px var(--green-7);
}

.Button.mauve {
  background-color: var(--mauve-4);
  color: var(--mauve-11);
}
.Button.mauve:hover {
  background-color: var(--mauve-5);
}
.Button.mauve:focus {
  box-shadow: 0 0 0 2px var(--mauve-7);
}

.Button.blue {
  background-color: var(--blue-4);
  color: var(--blue-11);
}
.Button.blue:hover {
  background-color: var(--blue-5);
}
.Button.blue:focus {
  box-shadow: 0 0 0 2px var(--blue-7);
}

.ButtonGroup .Button {
  margin-left: 10px;
}

/* Button next to field */
.Fieldset .Button {
  border-radius: 50px;
}

.Fieldset .Button:disabled,
.Fieldset .Button[disabled],
.Fieldset .Button:disabled:hover,
.Fieldset .Button[disabled]:hover,
.Fieldset .Button:disabled:focus,
.Fieldset .Button[disabled]:focus {
  background-color: var(--gray-7);
  color: var(--gray-9);
  cursor: default;
  box-shadow: none;
  border: none;
}

/* Buttons as the only field */
.Fieldset .ButtonGroup .Button {
  margin: 0;
  display: inline-flex;
}

.IconButton {
  all: unset;
}

.IconButton {
  font-family: inherit;
  border-radius: 100%;
  height: var(--IconButton-size);
  width: var(--IconButton-size);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--violet-11);
  position: absolute;
  top: 10px;
  right: 10px;
}
.IconButton:hover {
  background-color: var(--violet-4);
}
.IconButton:focus {
  box-shadow: 0 0 0 2px var(--violet-7);
}

.MultiFieldset {
  display: block;
  margin-bottom: 15px;
  margin-right: 10px;
}

.Fieldset {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 15px;
  margin-right: 10px;
}

.MultiFieldset .Fieldset {
  margin: 0 0 15px;
  border-bottom: none;
}

.Fieldset .ButtonGroup {
  margin: 0;
}

.Label {
  font-size: 15px;
  color: var(--violet-11);
  width: var(--Label-width);
  text-align: right;
  word-wrap: break-word;
  hyphens: auto;
}

.Input,
.Textarea {
  width: 100%;
  flex: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0 10px;
  font-size: 15px;
  line-height: 1;
  color: var(--violet-11);
  box-shadow: 0 0 0 1px var(--violet-7);
}

.Input {
  height: var(--Input-height);
}
.Input:focus,
.Textarea:focus {
  box-shadow: 0 0 0 2px var(--violet-8);
}

.Textarea {
  resize: none;
  padding: 10px;
  height: 50vh;
}

.Textarea:focus {
  color: var(--violet-11);
}

.TextareaCode {
  font-family: monospace;
  font-size: 0.8em;
}

.TextareaSmall {
  height: calc(var(--Input-height) * 5);
}

.SyncExercisesList,
.SyncSectionsList {
  width: 100%;
  flex: 1;
  margin: 0;
}

.SyncExercisesList {
  flex-wrap: wrap;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0 0 0 1px var(--violet-7);
}

.SyncSectionsList {
  display: flex;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap;
  padding: 5px;
  background: none;
}

.SyncExercisesList li,
.SyncSectionsList li {
  list-style-type: none;
  padding: 5px;
  font-size: var(--Fieldset_ListItem-font-size);
  line-height: 1;
  color: var(--violet-11);
  box-shadow: 0 0 0 1px var(--violet-7);
  background-color: var(--blue-5);
  text-align: center;
}

.SyncExercisesList li {
  margin: 0 0 10px;
  border-radius: 10px;
  background-color: var(--blue-2);
}

.SyncSectionsList li {
  flex-grow: 1;
  margin: 0;
  border-radius: 5px;
  background-color: var(--blue-5);
}

.SyncExercisesList li:nth-last-child(1) {
  margin: 0;
}

.SyncExerciseName {
  font-weight: bold;
}

.SyncExerciseNameDiffer {
  color: var(--red-10);
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

/* Forms */
.SwitchRoot {
  all: unset;
}

.SwitchRoot {
  margin-bottom: 10px;
  width: 42px;
  height: 25px;
  background-color: var(--black-a9);
  border-radius: 9999px;
  position: relative;
  box-shadow: 0 2px 10px var(--black-a7);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.SwitchRoot:focus {
  box-shadow: 0 0 0 2px black;
}
.SwitchRoot[data-state='checked'] {
  background-color: black;
}

.SwitchThumb {
  display: block;
  width: 21px;
  height: 21px;
  background-color: white;
  border-radius: 9999px;
  box-shadow: 0 2px 2px var(--black-a7);
  transition: transform 100ms;
  transform: translateX(2px);
  will-change: transform;
}
.SwitchThumb[data-state='checked'] {
  transform: translateX(19px);
}

.Fieldset.Switch .Label {
  font-size: 15px;
  line-height: 1;
  width: 100%;
  flex: 1;
  display: inline-flex;
  align-items: center;
  justify-content: right;
}

/* Radio */
/* reset */
/*button {
  all: unset;
}*/

.RadioGroupRoot {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.RadioGroupItem {
  all: unset;
}

.RadioGroupItem {
  background-color: white;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  box-shadow: 0 2px 10px var(--black-a7);
}
.RadioGroupItem:hover {
  background-color: var(--violet-3);
}
.RadioGroupItem:focus {
  box-shadow: 0 0 0 2px black;
}

.RadioGroupIndicator {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
}
.RadioGroupIndicator::after {
  content: '';
  display: block;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: var(--violet-11);
}

.RadioGroupRoot .Label {
  width: calc(100% - 25px);
  text-align: left;
  padding-left: 10px;
}

/* On screens that are 959px or less */
@media screen and (max-width: 959px) {
  .DialogContent {
    margin: 0;
    max-width: var(--Dialogcontent-max-width-mobile);
    width: 100vw;
    max-height: 100vh;
    height: var(--DialogContent-height-mobile);
    border-radius: 0;
    padding: var(--DialogContent-padding-top-mobile) var(--DialogContent-padding-right-mobile)
      var(--DialogContent-padding-bottom-mobile) var(--DialogContent-padding-left-mobile);
  }

  .IconButton {
    top: calc(
      var(--DialogContent-padding-top-mobile) +
      var(--DialogTitle-padding-mobile) / 2
    );
    height: var(--IconButton-size-mobile);
    width: var(--IconButton-size-mobile);
  }

  .IconButton svg {
    width: 40px;
    height: 40px;
  }

  .DialogTitle {
    max-width: 100vw;
    padding: var(--DialogTitle-padding-mobile);
    font-size: var(--DialogTitle-font-size-mobile);
    text-align: center;
  }

  .DialogDescription {
    padding: 10px calc(var(--IconButton-size-mobile) + 10px) 10px 20px;
    text-align: center;
    font-size: 1.2em;
  }

  .Fieldset, .MultiFieldset {
    margin: 20px;
    padding: 0;
    font-size: 1.2em;
    border-bottom: 1px var(--mauve-9) dashed;
  }

  .MultiFieldset .Fieldset {
    margin: 0 0 20px;
    border-bottom: none;
  }

  .Fieldset .Input {
    font-size: 1.2em;
    height: 2em;
  }

  .Label,
  .Fieldset.Switch .Label {
    font-size: 1.2em;
    width: var(--Label-width-mobile);
  }

  .Fieldset.Switch .Label {
    flex: none;
  }

  .ButtonGroup {
    justify-content: center;
    margin-top: var(--ButtonGroup-margin-top-mobile);
  }

  .Fieldset .ButtonGroup {
    justify-content: right;
    margin: 0;
  }

  .Button {
    font-size: 1.2em;
    height: var(--Button-height-mobile);
    text-align: center;
  }

  .SyncExercisesList li,
  .SyncSectionsList li {
    font-size: var(--Fieldset_ListItem-font-size-mobile);
  }

  .DialogContentScroll {
    max-height: calc(
      var(--DialogContent-height-mobile) -
      var(--DialogContent-padding-top-mobile) -
      var(--DialogContent-padding-bottom-mobile) -
      var(--DialogTitle-padding-mobile) * 2 -
      var(--DialogTitle-font-size-mobile) -
      var(--ButtonGroup-margin-top-mobile) -
      var(--Button-height-mobile) - 2px);
    overflow: scroll;
  }

}
